<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Generar Excel</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Ingrese el nombre del archivo y cargue el PDF</h2>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                <label for="nombre_archivo">Nombre del archivo (sin extensión):</label>
                <input type="text" id="nombre_archivo" name="nombre_archivo" required>

                <label for="archivo_pdf">Cargar PDF:</label>
                <input type="file" id="archivo_pdf" name="archivo_pdf" accept="application/pdf" required>

                <input type="submit" value="Generar Excel">
            </form>
        </div>
        <div class="img-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo de la empresa">
        </div>
    </div>
</body>
</html>
